
* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.link {
  color: #1DA1F2;
  &:hover {
    color: #1DA1F2;
    text-decoration: none;
  }
}