// Colors
$blue: #1da1f2;
$gray: #808E9B;
$border-gray: #E6ECF0;
$retweet: #17BF63;
$like: #E2386D;

//Font Sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
