.active {
    color: $blue !important;
    border-bottom: 2px solid $blue;
}

.navbar--nav__container {
    width: 50%;
}

.navbar--nav {
    display: inline-flex;
    height: 48px;
    padding: 0px 10px;
    width: 100%;
    justify-content: center;
}

.navbar--link {
    color: #89959d;
    display: inline-block;
    padding: 8px 12px;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    &:hover {
        border-bottom: 2px solid $blue;
        text-decoration: none;
        color: $blue;
        transition: border-bottom .3s, color .5s;
    }
    @media (max-width: 936px) {
        margin-top: 4px;
    }
}

.icon--nav {
    margin-right: 8px;
    font-size: 22px;
    top: 2px;
    position: relative;
    @media (max-width: 936px) {
        left: 5px;
    }
}

.navbar--text {
    margin-top: 9px;
    display: inline-block;
    font-size: 13px;
    @media (max-width: 936px) {
        display: none !important;
    }
}

.icon--twitter {
    font-size: 22px;
    margin: auto;
    left: 0;
    right: 0;
    top: 13px;
    position: absolute;
    width: 1px;
    color: $blue;
}

.navbar--details {
    display: inline-block;
}

.navbar__container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ACB1B4;
    height: 48px;
}

.navbar--search {
    border-radius: 20px;
    background: #F5F8FA;
    border: 1px solid #E6ECF0;
    font-size: 12px;
    height: 32px;
    padding-left: 10px;
    margin-top: 5px;
    width: 220px;
    @media (max-width: 936px) {
        width: 130px;
    }
}

.navbar--img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #ACB1B4;
    margin-right: 16px;
}

.navbar--details {
    width: 300px;
    margin: auto;
    display: inline-flex;
    justify-content: center;
}

.navbar--details__container {
    margin: auto;
}

.navbar--searchBtn {
    position: relative;
    right: 28px;
    top: 2px;
    cursor: pointer;
    color: #6D7D86;
}