.active {
    color: $blue !important;
    border-bottom: 2px solid $blue;
}

.navbar--nav__container {
    width: 50%;
}

.navbar--container {
    background: #fff;
    width: 1260px;
    margin: 0 auto;
    display: inline-flex;
    @media (max-width: 936px) {
        width: 890px;
    }
}

.navbar--nav {
    display: inline-flex;
    height: 48px;
    padding: 0px 10px;
    width: 100%;
    justify-content: left;
}

.navbar--link {
    color: #89959d;
    display: inline-block;
    padding: 8px 12px;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    &:hover {
        border-bottom: 2px solid $blue;
        text-decoration: none;
        color: $blue;
        transition: border-bottom .3s, color .5s;
    }
    @media (max-width: 936px) {
        margin-top: 4px;
    }
}

.icon--nav {
    margin-right: 8px;
    font-size: 22px;
    top: 2px;
    position: relative;
    @media (max-width: 936px) {
        left: 5px;
    }
}

.navbar--text {
    margin-top: 9px;
    display: inline-block;
    font-size: 13px;
    @media (max-width: 936px) {
        display: none !important;
    }
}

.icon--twitter {
    font-size: 22px;
    margin: auto;
    left: 0;
    right: 0;
    top: 13px;
    position: absolute;
    width: 1px;
    color: $blue;
}

.navbar--details {
    display: inline-block;
    width: 50%;
    justify-content: right;
}

.navbar__container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ACB1B4;
    height: 48px;
}

.navbar--search {
    border-radius: 20px;
    background: #F5F8FA;
    border: 1px solid #E6ECF0;
    font-size: 12px;
    height: 32px;
    padding-left: 10px;
    margin-top: 5px;
    width: 220px;
    @media (max-width: 936px) {
        width: 130px;
    }
}

.navbar--img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #ACB1B4;
    margin-right: 16px;
}

.navbar--details {
    width: 100%;
    display: inline-flex;
    margin-top: 4px;
    justify-content: flex-end;
}

.navbar--details__container {
    width: 50%;
    float: right;
    align-content: flex-end;
}

.navbar--searchBtn {
    position: relative;
    right: 28px;
    top: 13px;
    cursor: pointer;
    color: #6D7D86;
}
//! DROPDOWN MENU
.dropdown-menu {
    margin-left: -120px !important;
    margin-top: 20px !important;
}

.dropdown-menu:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid transparent;
    border-bottom: 12px solid #C4C9CC;
    right: 5%;
    top: -24px;
}

.dropdown-menu:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid transparent;
    border-bottom: 12px solid #fff;
    right: 5%;
    top: -23px;
}

.dropdown--profile-name {
    padding: 0 24px;
    height: 20px;
    font-weight: 700;
    font-size: 20px;
}

.dropdown--profile-handle {
    padding: 0 24px;
    color: #8996A2;
    font-size: 14px;
    margin-top: -4px;
}

.icon-dropdown {
    padding-right: 14px;
    text-align: center;
    width: 40px;
}

.dropdown-item {
    padding: 4px 0;
    &:hover {
        background: #1B95E0 !important;
        color: white !important;
    }
    &:hover > .icon-darkmode {
        color: white;
    }
}

.icon-darkmode {
    color: #1B95E0;
    position: relative;
    right: 5px;
    top: 4px;
    float: right;
}