//: Containers
.tweet--container {
    padding: 5px;
    width: 100%;
    display: flex;
}

.tweet--displayImgContainer {
    display: inline-flex;
    padding: 0 8px;
}

.tweet--textContainer {
    display: inline-flex;
}

//: Images
.tweet--displayImg {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

//: Text
.tweet--nameText {
    display: inline;
}

.tweet--handleText {
    display: inline;
}
