.feed--noTweetsContainer {
    background: #fff !important;
    padding: 70px 70px 60px 70px;
    width: 100%;
    border-bottom: 1px solid #E6ECF0;
    height: 260px;
}

.feed--noTweetsTitle {
    font-weight: 700;
}

.feed--noTweetsText {
    color: $gray;
    font-size: 14px;
}