.profileOverview--header {
    width: 100%;
    background: white;
    height: 100%;
}

.profileOverview--headerContainer {
    width: 100%;
    height: 90px;
    line-height: 100px;
    background: $blue;
    overflow: hidden;
}

.profileOverview--headerImg {
    max-width: 100%;
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
}

.profileOverview--displayImg {
    border-radius: 50%;
    border: 2px solid white;
    height: 70px;
    width: 70px;
    margin-top: -35px;
    margin-left: 20px;
    background: white;
}

.profileOverview--nameContainer {
    margin-top: -30px;
    margin-left: 100px;
    margin-bottom: 10px;
}

.profileOverview--name {
    font-weight: 700;
}

.profileOverview--handle {
    margin-top: -6px;
    color: $gray;
    font-size: 15px;
    font-weight: 400;
}

.profileOverview--followingsContainer {
    display: flex;
    margin: 14px 16px 0 16px;
}

.profileOverview--tweets {
    display: inline-block;
    width: 80px;
}

.profileOverview--following {
    display: inline-block;
    width: 80px;
}

.profileOverview--followers {
    display: inline-block;
    width: 80px;
}

.profileOverview--numbers {
    color: $blue;
    margin-top: -4px;
    font-size: 20px;
    font-weight: 700;
}

.profileOverview--names {
    color: $gray;
    font-size: 13px;   
}