$scroll-factor: 0.5;
$header-height: 50px;

/* Containers */

.profile--container {
    background: #e6ecf0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden !important;
    height: 150vh;
    max-height: 100%;
    overflow-x: hidden;
    perspective: 1px;
    perspective-origin: center top;
    transform-style: preserve-3d;
}

.profile--gridContainer {
    z-index: 2;
    display: grid;
    grid-template-areas:
        "image info info"
        "overview main trends"
        ". main ."
        ". main .";
    grid-template-columns: 288px 600px 288px;
    grid-template-rows: 60px auto auto;
    grid-gap: 10px;
    margin: -54px auto 0 auto;
    padding: 0 15px;
    @media screen and (max-width: 1250px) {
        grid-template-areas:
            "image info"
            "overview main"
            "trends main"
            ". main"
            ". main";
        grid-template-columns: 288px 600px;
        grid-template-rows: 60px auto auto auto auto;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
}

/* Header */

.profile--header {
    top: 96px;
    height: 30vw;
    background: $blue;
    background-size: cover;
    background-position: center center;
    position: relative;
    vertical-align: top;
    transform-origin: center top;
    padding: 0;
    z-index: -1;
    transform: translateZ(-#{$scroll-factor * 2}px) scale(1 + $scroll-factor * 2);
}

.profile--section {
    min-height: 200vh;
    transform: translateZ(0);
    padding: 10px 0;
    z-index: 1;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}

.profile--displayImg {
    width: 212px;
    height: 212px;
    border: 8px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: -140px;
    z-index: 1;
}

/* Information */

.profile--info {
    display: inline-block;
    text-align: center;
    width: 70px;
    padding-bottom: 2px;
    &:hover {
        padding-bottom: 0;
        border-bottom: 2px solid $blue;
    }
}

.profile--infoDescription {
    color: #66686a;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 13px;
}

.profile--infoValue {
    color: $blue;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
}

.profile--information {
    grid-area: info;
}

.profile--buttonContainer {
    display: flex;
    float: right;
}

/* Overview */
.profile--overview {
    grid-area: overview;
    padding: 20px;
}

.profile--detailContainer {
    display: flex;
}

.profile--displayNameText {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

.profile--handleText {
    color: $gray-text;
    font-size: 14px;
}

.profile--overviewText {
    margin: 3px 0;
    font-size: 14px;
}

.profile--details {
    color: $gray-text;
    font-size: 14px;
    margin: 8px 0 0 0;
}

.profile--main {
    grid-area: main;
}

.profile--trends {
    grid-area: trends;
}

.profile--imgContainer {
    grid-area: image;
}

.profile--infoBottomBorder {
    width: 100%;
    background: #fff;
    height: 60px;
    -webkit-box-shadow: 0px 1px 1px #c0c5c8;
    -moz-box-shadow: 0px 1px 1px #c0c5c8;
    box-shadow: 0px 1px 1px #c0c5c8;
}

.profile--feedContainer {
    width: 100%;
    background: #fff;
    display: block;
}

.profile--controlsContainer {
    margin: 0;
    padding: 0;
}

.profile--control {
    @extend .profile--control__active;
    color: $blue;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.profile--control__active {
    font-size: 19px;
    padding: 8px 14px;
    display: inline-block;
    margin: 0;
    font-weight: 700;
}

/* Feed */

.profile--footer {
    border-top: 1px solid #e6ecf0;
}

.transparent {
    background: #fff !important;
    opacity: 0.3;
    pointer-events: none;
}

/* Overview */

.profile--overviewEditMode {
    background: #e8f5fd;
    padding: 10px 5px;
    height: 290px;
}

.profile--overviewEditBirthday {
    @extend .profile--overviewEditMode;
    height: 410px;    
}

.profile--bioTextArea {
    resize: none;
    width: 100%;
    border: 1px solid #b4dcf5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 4px 8px;
    font-size: 14px;
    margin-bottom: -6px;
}

.profile--textInput {
    border: 1px solid #b4dcf5;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 4px 8px;
    margin-top: 5px;
    font-size: 14px;
}

.profile--displayNameInput {
    @extend .profile--textInput;
    font-size: 22px;
    font-weight: 700;
}

.profile--handleTextEdit {
    color: $blue;
    padding: 4px;
    margin: 0;
    font-size: 14px;
}

.profile--birthdayText {
    color: $gray-text;
    font-size: 14px;
    padding: 0 4px;
    margin: 8px 0 !important;
}

.profile--dropdownItem {
    display: block;
    text-align: left;
    padding-left: 10px;
    height: 30px;
    &:hover {
        color: #fff;
        background: $blue;
        cursor: pointer;
        > i {
            color: #fff;
        }
    }
}

.profile--dropdownOption {
    @extend .profileOverview--dropdownOption;
    text-align: left;
    padding-left: 5px !important;
}

.profile--monthDropdown {
    @extend .profileOverview--monthDropdown;
    top: -30px !important;
    left: 160px !important;
    position: relative !important;
    padding: 14px 0 !important;
    margin-bottom: -140px;
    &:after {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid #fff;
        left: 30px;
        top: -19px;
    }
    &:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid #c4c9cc;
        left: 30px;
        top: -20px;
    }
}

.profile--yearDropdown {
    @extend .profileOverview--yearDropdown;
    position: relative !important;
    left: 50px !important;
    top: 4px !important;
    &:after {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid #fff;
        left: 30px;
        top: -19px;
    }
    &:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid #c4c9cc;
        left: 30px;
        top: -20px;
    }
}

.profile--editBackground {
    background: #fff;
}