.tweetInput--container {
    background: #E8F4FB;
    height: 58px !important;
    width: 100%;
    padding: 10px 10px 10px 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.tweetInput--containerLarge {
    @extend .tweetInput--container;
    height: 200px;
}

.tweetInput--innerContainer {
    display: flex;
}

#tweetInput-containerID {
    height: auto !important;
}

.tweetInput--iconsContainer {
    display: flex;
    margin-left: 50px;
    margin-top: 10px;
}

.tweetInput--iconInnerContainer {
    display: block;
    padding: 5px 8px;
    text-align: center;
    margin: 0 6px;
    &:hover {
        border: 1px solid #A3D4F2;
        border-radius: 5px;
        padding: 4px 7px;
    }
}

.tweetInput--mediaContainer {
    display: inline-flex;
    width: 100%;
}

.tweetInput--mediaControlsContainer {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    float: right;
    height: 40px;
    margin-top: 8px;
}

//: Progress Circle
.tweetInput--progressCircle {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 18px;
    bottom: 66px;
}

//: Images
.tweetInput--displayImg {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-top: 4px;
}

//: Text inputs
.tweetInput--input {
    border: 1px solid #C6E4F7;
    border-radius: 10px;
    padding: 9px 10px;
    margin-left: 10px;
    font-size: 15px;
    width: 100%;
    position: relative;
    box-sizing: content-box;
    overflow: hidden !important;
    resize: none;
    height: 20px !important;
}

.tweetInput--inputLarge {
    border-radius: 10px;
    margin-left: 10px;
    font-size: 14px;
    width: 100% !important;
    min-height: 60px;
    height: 60px;
    resize: none;
    position: relative;
    box-sizing: content-box;
    overflow: hidden !important; 
    border: 1px solid #A3D4F2;
    padding: 10px 30px 10px 10px;
    &:focus {
        box-shadow: 0 0 3pt 1pt #A3D4F2;
        outline: none;
    }
}

//: Placeholder colours
.tweetInput--input {
    &::-ms-input-placeholder {
        color: $blue;
    }
    &::placeholder {
        color: $blue;
        opacity: 1;
    }
}

.tweetInput--inputLarge {
    &::placeholder {
        color: #bec8ce;
        opacity: 1;
    }
    &::-ms-input-placeholder {
        color: #bec8ce;
    }
}

.tweetInput--photoTweetIcon {
    color: $blue;
    width: 30px;
    height: 30px;
    font-size: 22px;
    position: absolute;
    right: 14px;
    top: 20px;
    cursor: pointer;
}

.tweetInput--emojiIcon {
    color: $gray;
    width: 24px;
    height: 24px;
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    right: 14px;
    top: 18px;
    &:hover {
        color: $blue;
        transition: color .5s;
    }
}

.tweetInput--mediaIcon {
    font-size: 22px;
    color: $blue;
    width: 30px;
    height: 30px;
    padding: 3px;
}

.icon--addTweet {
    font-size: 34px;
    width: 36px;
    height: 36px;
    color: $blue;
    margin-right: 10px;
    margin-top: 4px;
}

.tooltip {
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
